go 1.25.0

use (
	./apps/adapters/deepseek
	./apps/adapters/qwen
	./apps/analytics-svc
	./apps/api-gateway
	./apps/auth-svc
	./apps/notification-svc
	./apps/sample-grpc-app
	./apps/sample-otel-app
	./packages/adapter-usage
	./packages/go-observability
	./packages/proto
)
